*{
    padding: 0%;
    margin: 0%;
}
:root{
    --leftbdg:#ffffff;
    --right:#e5e5e5;
    --ashcolor:#c4c4c4;
    --hover:#ff8d8d;
    --textcolor1:#494949;
    --textcolor:#000000;
}
.container{
    background-color: var(--leftbdg);
    display:grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 100%;
}
/* .left{
     display:block; 
} */
button{
    height:80px;
    width: 200px;
    font-size: 20px;
    background-color: transparent;
    border: 0.8px solid var(--textcolor1);
    border-radius: 50px;
    outline: none;
    position: relative;
    top:40%;
    left:35%;
    transition-duration: 1.5s;
}
button:hover{
    border: 1px solid var(--hover);
    background-color: var(--hover);
    color:var(--textcolor1);
}
button:focus{
    border:0.8px solid var(--hover);
    background-color: transparent;
    color:var(--hover);
    
}
.right{
    background-color: var(--ashcolor);
}
.holder{
    height: 50%;
    width: 50%;
    padding:10px;
    border-radius:10px;
    position: relative;
    top:25%;
    left:25%;
    overflow: hidden;
    transition-duration: 1.5s;
}
.figure_style1{
    background-color: var(--textcolor1);
    border-radius: 10px;
    height: 30%;
    transition-duration: 1.5s;
}
p{
    margin: 20px 0px 20px 0px;
}
.header{
    font-size: 37px;
}
.write-up{
    color: var(--textcolor1);
}
.holder:hover{
    background-color: var(--leftbdg);
} 
.holder:hover .figure_style1 {
    background-color: var(--hover);
} 
.figure_style2:hover{
    background-color: var(--hover);
    height: 70%;
} 
